Dear $name,
<br><br>
Thank you for participating in the DLRC $marathon $year. Your support has gone a long way in supporting DLRC's vision to open a Samajbandh ASHA Pad production center on DLRC Campus. We have inaugurated ASHA Kendra on Independence day (15 August 2024). We invite you to the <a href="https://maps.app.goo.gl/2fjHjUupUzt31KTh8">DLRC Campus</a> to see the fruits of your contribution.
<br><br>
You can also donate clothes or organize a cloth donation drive for ASHA Kendra. To know more about Samajbandh <a href="https://samajbandh.org/">click here</a> and to know more about DLRC <a href="https://www.dlrc.in/">click here</a>.
<br><br>
With warm regards,
<br>
Team DLRC & Samajbandh