<html>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
		integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer"
	></script>
	<body>
		<div id="cert" style="display: flex; width: min-content">$svg</div>
		<script>
			async function certDownload() {
				const certificateRef = document.getElementById("cert");
				try {
					if (!certificateRef) return
					const canvas = await html2canvas(certificateRef, {
						scale: 5,
					})
					const image = canvas.toDataURL("image/png")
					const a = document.createElement("a")

					a.href = image;
					a.download = "$file_name"
					a.click()
				} catch (error) {
					console.error("Error downloading the certificate:", error)
				}
			}
			certDownload()
		</script>
	</body>
</html>
